<!-- src/app/opciones/ayuda/ayuda.component.html -->
<div class="help-container">
    <h1>Centro de Ayuda</h1>
  
    <section class="introduction">
      <h2>Bienvenido al Centro de Ayuda</h2>
      <p>En nuestra plataforma, queremos asegurarnos de que tengas la mejor experiencia posible. Aquí encontrarás respuestas a las preguntas más frecuentes, información sobre cómo usar nuestras funciones, y cómo contactarnos si necesitas más ayuda.</p>
    </section>
  
    <section class="faq">
      <h2>Preguntas Frecuentes</h2>
      <ul>
        <li>
          <h3>¿Cómo puedo buscar películas?</h3>
          <p>Para buscar películas, utiliza la barra de búsqueda en la parte superior de la página. Puedes buscar por título, género, o año de lanzamiento.</p>
        </li>
        <li>
          <h3>¿Cómo creo una lista de seguimiento?</h3>
          <p>Haz clic en el ícono de estrella junto a cualquier película para agregarla a tu lista de seguimiento. Puedes ver y gestionar tu lista en la sección de "Mi Perfil".</p>
        </li>
        <li>
          <h3>¿Cómo puedo reportar un problema?</h3>
          <p>Si encuentras un problema en la plataforma, por favor dirígete a la sección de "Contacto" y envía un reporte detallado del problema.</p>
        </li>
      </ul>
    </section>
  
    <section class="contact">
      <h2>Contacto</h2>
      <p>Si necesitas más ayuda, no dudes en ponerte en contacto con nuestro equipo de soporte.</p>
      <p>Email: <a href="mailto:support&#64;example.com">support&#64;example.com</a></p>
      <p>Teléfono: +1 (555) 123-4567</p>
    </section>
  
    <section class="links">
      <h2>Enlaces Útiles</h2>
      <ul>
        <li><a href="https://support.google.com/youtube/thread/223261969/t%C3%A9rminos-y-condiciones-respecto-a-utilizar-videos-de-youtube-en-otra-plataforma?hl=es" target="_blank" rel="noopener noreferrer">Términos y Condiciones</a></li>
        <li><a href="https://support.google.com/youtube/answer/10364219?hl=es-419" target="_blank" rel="noopener noreferrer">Política de Privacidad</a></li>
        <li><a href="#user-guide" target="_blank" rel="noopener noreferrer" >Guía del Usuario</a></li>
      </ul>
    </section>
  </div>
  