


<div class="content">
    <div class="box">
        <span style="--i: 1" (click)="selectCategory('cuerpo-peliculas')" (click)="optthor()">
            <img class="menu-img" src="assets/imagenes/thor.jpg" alt="Imagen 1">
            <div class="image-info">
                <h3>thor</h3>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </span>
        <span style="--i: 2" (click)="selectCategory('cuerpo-peliculas')" (click)="optBrave()" >
            <img class="menu-img" src="assets/imagenes/Brave-Indomable.jpg" alt="Imagen 2">
            <div class="image-info">
                <h3>Brave-Indomable</h3>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <!-- <ion-icon name="star-half"></ion-icon> -->
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </span>
        <span style="--i: 3" (click)="selectCategory('cuerpo-peliculas')" (click)="optelemental()">
            <img class="menu-img" src="assets/imagenes/elemental.jpg" alt="Imagen 3">
            <div class="image-info">
                <h3>elemental</h3>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <!-- <ion-icon name="star-half"></ion-icon> -->
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </span>
        <span style="--i: 4" (click)="selectCategory('cuerpo-peliculas')" (click)=" optencanto()" >
            <img class="menu-img" src="assets/imagenes/encanto.jpg" alt="Imagen 4">
            <div class="image-info">
                <h3>encanto</h3>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </span>
        <span style="--i: 5" (click)="selectCategory('cuerpo-peliculas')" (click)="optOnePice()" >
            <img class="menu-img" src="assets/imagenes/onePice.jpg" alt="Imagen 5">
            <div class="image-info">
                <h3>One Pice</h3>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </span>
        <span style="--i: 6" (click)="selectCategory('cuerpo-peliculas')" (click)="optSensaCine()">
            <img class="menu-img" src="assets/imagenes/SensaCine.jpg" alt="Imagen 6">
            <div class="image-info">
                <h3>Sensa Cine</h3>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <!-- <ion-icon name="star-half"></ion-icon> -->
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </span>
        <span style="--i: 7" (click)="selectCategory('cuerpo-peliculas')" (click)="optToyStory()">
            <img class="menu-img" src="assets/imagenes/toy-story.jpg" alt="Imagen 7">
            <div class="image-info">
                <h3>Toy Story</h3>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </span>
        <span style="--i: 8" (click)="selectCategory('cuerpo-peliculas')" (click)="optWish()">
            <img class="menu-img" src="assets/imagenes/Wish.jpg" alt="Imagen 8">
            <div class="image-info">
                <h3>Wish</h3>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <!-- <ion-icon name="star-half"></ion-icon> -->
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </div>
        </span>
    </div>
</div>

