

<div class="bodyContainer">
  <app-barramenu></app-barramenu>
  <div class="main-content">
    <app-barralateral></app-barralateral>
    <ng-container [ngSwitch]="selectedCategory">
      <app-cuerpo-presentacion *ngSwitchCase="'cuerpo-presentacion'"></app-cuerpo-presentacion>
      <app-cuerpo-peliculas *ngSwitchCase="'cuerpo-peliculas'"></app-cuerpo-peliculas>
      <app-video-amateur *ngSwitchCase="'videoAmateur'" ></app-video-amateur>
      <app-ayuda *ngSwitchCase="'ayuda'"></app-ayuda>
      <app-sugerencias *ngSwitchCase="'sugerencias'"></app-sugerencias>
      <app-video-you-tube *ngSwitchCase="'videoPeliYoutube'"></app-video-you-tube>
    </ng-container>
  </div>
</div>

