
/* Estilos generales */
.containerAmateur {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  padding: 20px; 
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en dispositivos móviles */
}

.upload-section-container {
  flex: 1;
  max-width: 40%; 
}

.upload-section {
  background: linear-gradient(86deg, rgba(17,20,46,1) 14%, rgba(28, 28, 40, 0.9) 91%, rgb(32, 45, 60) 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.upload-section h1 {
  color: #f4c842;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
  color: #f4c842;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="file"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
}

.btn-upload {
  width: 50%;
  padding: 10px;
  background-color: #f4c842;
  color: #1c1c1c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.btn-upload:hover {
  background-color: #e0b22a;
}

.videos-section {
  flex: 2;
  max-width: 55%; 
  overflow-y: scroll; 
  max-height: 87vh; 
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.videos-section::-webkit-scrollbar {
  width: 0; 
}

.videos-section::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.videos-section {
  scrollbar-width: none; 
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; 
  padding: 10px; 
}

.video-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.video-card h3 {
  margin-top: 10px;
  color: #f4c842;
  font-size: 18px;
}

video {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.video-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #f4c842;
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.delete-btn:hover {
  color: #e0b22a;
}

/* Estilos para pantallas pequeñas (600px o menos) */
@media (max-width: 600px) {
  .containerAmateur {
      flex-direction: column;
      align-items: center;
  }

  .upload-section-container {
      max-width: 100%;
      margin-bottom: 20px; /* Espacio entre el formulario y los videos */
  }

  .videos-section {
      max-width: 100%;
  }
  
  .video-grid {
      grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
  }
}
