/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
}

:root{
    --colormenuetxt: #888; 

    --colorbaralateraltxt: #888;
    --colorbarralateralayudatxt:#a5a5a5;
}