<div class="contentSugerencias">
  <div class="sugerencias-container">
    <h2 class="sugerencias-title">¡Queremos Escucharte!</h2>
    <p class="sugerencias-description">Déjanos tus sugerencias, comentarios o cualquier idea que tengas para mejorar
      nuestra plataforma estare atento.</p>

    <form class="sugerencias-form">
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input type="text" id="name" class="form-control" placeholder="Tu nombre">
      </div>

      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" class="form-control" placeholder="Tu correo electrónico">
      </div>

      <div class="form-group">
        <label for="message">Mensaje:</label>
        <textarea id="message" class="form-control" rows="4" placeholder="Escribe tu sugerencia aquí"></textarea>
      </div>

      <button type="submit" class="btn-enviar">Enviar Sugerencia</button>
    </form>
  </div>
</div>